<div class="mdt-header-alternate" layout="row" layout-align="start center">
    <span class="alternate-text" ng-if="getNumberOfSelectedRows() === 1" flex>{{getNumberOfSelectedRows()}} piatto selezionato</span>
    <span class="alternate-text" ng-if="getNumberOfSelectedRows() > 1" flex>{{getNumberOfSelectedRows()}} piatti selezionati</span>
    <md-button class="md-icon-button md-primary" ng-click="deleteSelectedRows()" aria-label="Cancella piatti selezionati">
        <ng-md-icon icon="delete" size="24"></ng-md-icon>
    </md-button>

    <md-button ng-if="getNumberOfSelectedRows() === 1" ng-click="editSelectedRow($event)" class="md-icon-button md-primary" aria-label="Modifica piatto">
        <ng-md-icon icon="mode_edit" size="24"></ng-md-icon>
    </md-button>
</div>
